@charset "utf-8";
div.panel-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.panel-danger{
    background-color: #FA7275;
}
img.img-thumbnail{
    height: 150px;
}