@charset "utf-8";
/* CSS Document */
body{
    background-color: #353434;
}
#top-menu1{
    left:15%; 
    top: 50px;  
}
#xsmenu{
    display: none;
    position: relative;
    top: 18px;
}
#xsmenu a{
    color: aliceblue;
}
@media screen and (max-width:1195px) {
    #linktop1{
        position: relative;
        left: 20%;
    }
    #link-top a:nth-child(n+2) {
    margin-left: 5px;
}
}
@media screen and (max-width:1195px) {
    #linktop1{
        position: relative;
        left: 20%;
    }
    #link-top a:nth-child(n+2) {
    margin-left: 5px;
}
}
@media screen and (max-width:767px){
    #lt-menu{
        left:-100% ;
        position: relative;
        background-color: #292626;
        height: 260px;
        z-index: 999;
    }

    #ul-down{
        left:-100%;
        position: relative;
        background-color: #353434;
        width: 75.04%;
        top: -40px;
        z-index: 9999;
    }
    #content{
        left: 0%;
    }
    #top-menu{
        position: absolute;
    }
    #down-menu{
    }
    #top-menu1{
    left:1%; 
    top: 50px;  
}
    #xsmenu{
    display: block;
    }
    #search{
        display: none;
    }
}
#lt-menu1{
    position: fixed;
}
div.row div.col-lg-12:nth-child(-n+1){
    height: 250px;
    background-image: linear-gradient(to right,#56BFBC , #A99BE4);
    padding: 0px;
}
div.row div.col-lg-12 div.col-lg-2{
    padding: 0px;
}
div.row div.col-lg-12 div.col-lg-2 div a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 0px;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-10 a{
    top:-10px;
    left: -10%;
    position: relative;
}
div.row div.col-lg-12 div.col-lg-2 div:nth-child(-n+1){
    top:20px;
    position: relative;
    left: 30px;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12{
    position: relative;
    top: 30px;
    padding: 0px;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-4{
    padding: 0px;
    left:4%;
    position: relative;
    top:-.01px;
    
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-8{
    padding: 0px;
    position: relative;
    left: 10%;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-8 p:nth-child(-n+1){
    font-size: 11px;
    padding: 0px;
    position: relative;
    top: 5px;
    color: aliceblue;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-8 p:nth-child(n+2){
    font-size: 15px;
    color: aliceblue;
    padding: 0px;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-8 div a{
        font-size: 12px;

}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-8 div a:nth-child(n+2){
    margin-left: 15px;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-10{
    position: relative;
    top: 10px;
    color: antiquewhite;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-11{
    padding: 0px;
    right:1%;
    display: flex;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-11 div.text-center{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-content: space-between;
    color: black;
    padding: 0px;
    margin-left:3%;
    margin-top: 18px;
    border-radius: 5px;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-11 div.text-center p:first-of-type{
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color:#161616;
}
div.row div.col-lg-12 div.col-lg-2 div.col-lg-12 div.col-lg-11 div.text-center p:nth-child(n+2){
    margin-top: -10px;
    color: #767676;
    font-size: 13px;
}
div.row div.col-lg-12 div.col-lg-2 input{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px #DDDDDD;
    color: antiquewhite;
}
div.row div.col-lg-12 div.col-lg-2 input::placeholder {
    color: aliceblue;
} 
ul#top-menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: -40px;
    list-style: none;
    z-index: auto;
    left: 35%;
    height: 0px;
}
ul#top-menu li i span.badge{
    border-radius: 3px;
    font-size: 10px;
    background-color: black;
    color: aliceblue;
    top: -10px;
    position: relative;
}
ul#top-menu li i.icon1{
    position: relative;
    top: 10px;
    color: aliceblue;
    right: 10px;
    margin-right: 5px;
    cursor: pointer;
}
ul#task-drop {
    position: absolute;
    top: 30px;
    z-index: 99999;
    overflow-y: hidden;
    height: 200px;
    padding-right: 40%;
    width: 600%;
}
ul#task-drop li :first-of-type{
    height: 30px;
    padding: 5px 0px 0px 10%;
    border: none;
    font-weight: bold;
}
ul#task-drop li:last-of-type a{
    padding-top: 10px;
}
ul#task-drop li:last-of-type a:hover{
    background-color: white;
}
ul#task-drop li:nth-child(n+2){
    padding: 0px;
    margin: 0px;
    height: 60px;
}
ul#task-drop li:nth-child(n+2) a{
    padding:0px;
    height: 60px;
}
ul#task-drop li:nth-child(n+2) div.text-left{
    display: flex;
    flex-direction: column;
    height: 80px;
}
ul#task-drop li:nth-child(n+2) div div.progress{
    height: 8px;
}
ul#task-drop li:nth-child(n+2) div div{
    padding: 0px;
    display: flex;    
}
ul#task-drop li:nth-child(n+2) div span{
    font-weight: normal;
    font-size: 12px;
}
ul#task-drop li:nth-child(n+2) div span:first-of-type{
    padding: 0px;
    display: flex;
    flex-grow: 9;
}
ul#task-drop li:nth-child(n+2) div span:last-of-type{
    display: flex;
    flex-grow: 1;
}
ul#top-menu li ul#note-drop{
    position: absolute;
    top: 30px;
    z-index: 99999;
    height: 200px;
    overflow: hidden;
}

ul#top-menu li ul.dropdown-menu.bg-danger{
    width: 850%;
}
ul#top-menu li ul#note-drop li:first-of-type {
    padding-top: 10px;
    padding-left: 5%;
    border: none;
}
ul#top-menu li ul#note-drop li:last-of-type :hover{
    background-color: white;
}
ul#top-menu li ul#note-drop li:nth-child(n+2){
    display: flex;
    flex-direction: column;
    height: 50px;
    border-top: 2px solid #F5F0F0;
}
ul#top-menu li ul#note-drop li:nth-child(n+2) a{
    display: flex;
    height: 70px;
    align-items: center;
    padding-left: 5%;
}
ul#top-menu li ul#note-drop li:nth-child(n+2) div:first-of-type{
    display: flex;
    flex-grow: 0;
}
ul#top-menu li ul#note-drop li:nth-child(n+2) div:first-of-type div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
ul#top-menu li ul#note-drop li:nth-child(n+2) div:first-of-type div i{
    cursor: pointer;
}
ul#top-menu li ul#note-drop li:nth-child(n+2) div.text-left{
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    padding-left: 4%;
    flex-direction: column;
}
ul#top-menu li ul#note-drop li:nth-child(n+2) div.text-left div:first-of-type b{
    font-size: 16px;
}
ul#top-menu li ul#note-drop li:nth-child(n+2) div.text-left div:first-of-type span.bol{
    font-size: 15px;
    align-items: flex-end;
    text-indent: 10px;
    display: flex;
}
ul#top-menu li ul#note-drop li:nth-child(n+2) div.text-left div:last-of-type i{
    font-size: 10px;
    color:#B1B1B1; 
}
ul#top-menu li ul#note-drop li:nth-child(n+2) div.text-left div:last-of-type span{
    font-size: 10px;
    color: #B1B1B1;
    text-indent: 19px;
    padding-left: 5px;
}
div.row div.col-lg-12#down-menu{
    background-color: #353434;
    color: #212020;
    position: relative;
    top: 40px;
    padding: 0px;
}
div.row div.col-lg-12#down-menu ul.col-lg-2{
    color: #9A9898;
    list-style-type: none;
    padding: 0px;
    height: 450px;
    overflow-y: hidden;
}
div.row div.col-lg-12#down-menu ul.col-lg-2 li{
    display: flex;
    align-items: center;
    flex-grow: 0;
    height: 50px;
    padding-left: 10%;

}
div.row div.col-lg-12#down-menu ul.col-lg-2 :not(:first-of-type){
    cursor: pointer;
}
div.row div.col-lg-12#down-menu ul.col-lg-2 li i{
    display: flex;
    flex-grow: 0;
    padding-right: 8%;
}
div.row div.col-lg-12#down-menu ul.col-lg-2 li span{
    display: flex;
    flex-grow: 9;
}

div#Extrapage ul{
    padding:0px;
}
div#Patiant ul{
    padding:0px;
}
div#Doctor ul{
    padding:0px;
}
div.row div.col-lg-12 div.col-lg-10{
    position: relative;
    top: 30px;
    right:0%;
}
 div#content{
    background-color: #F3F3F3;
    background-image: none;
    position: absolute;
     padding-bottom: 30px;
}
div#content div.col-lg-10 p:first-of-type{
    background-image: none;
    top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #363636;
}
div#content div.col-lg-10 p:nth-child(n+2){
    background-image: none;
    top: -5px;
    position: relative;
    font-size: 10px;
    color: #363636;
}
#content div.col-lg-12:first-of-type{
    background-size: cover;
    background-image: url(pics/medicine-wallpapers-30722-3871422.jpg);
    background-repeat: no-repeat;
    position: relative;
    top:10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content div.col-lg-12 img{
    margin-top: 10px;
}
#content div.col-lg-12 h3{
    color: white;
    font-weight: bold;
}
#content div.col-lg-12 h5{
    color: white;
    position: relative;
    top: -10px;
}
#content div.col-lg-12 div:first-of-type{
    position: relative;
    top: -10px;
}
#content div.col-lg-12 div:last-of-type{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
#content div.col-lg-12 div:last-of-type a{
    color: white;
}
#content div.col-lg-12 div:last-of-type a i{
    font-size: 17px;
}
#button-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
}
#button-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-decoration: none;
    border-bottom: 1px solid #BFBFBF;
    color: #474747;
}
#button-menu a:not(:first-child){
    border-left:1px solid #BFBFBF;
}
#button-menu a span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60px;
}
#button-menu a span i{
    display: flex;
    flex-grow: 9;
    align-items: center;
    font-size: 16px;
}
#button-menu a span h4{
    display: flex;
    flex-grow: 1;
    font-size: 13px;
}
.leftpadd{
    padding-left: 5%;
    border-radius: 5px;
    padding-top: 10px;
    margin-top: 15px;
    padding-right: 4%;
    position: relative;
    background-color: white;
    padding-bottom: 10px;
}
#pro-state{
    padding: 2px 4% 10px 4%;
}
#pro-state h3{
    font-size: 24px;
    font-weight: 400;
}
#pro-state h5{
    margin-top: 15px;
    font-weight: bold;
    color: #222222;
    font-size: 14px;
    padding: 0px;
}
#pro-state h6{
    font-weight: 500;
    font-size: 12px;
    color: #616060;
}
#pro-state div{
    border-top: 1px solid #CDCDCD;
}
textarea.form-control {
    border: none;
    overflow: auto;
    box-shadow: none;
    resize: none;
}
input.form-control {
    border: none;
    overflow: auto;
    box-shadow: none;
    resize: none;
}
/*textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}*/
.parent-inp{
    position: relative;
    z-index: 5;
}
.parent-inp:first-of-type{
    top: 10px;
}
.parent-inp:nth-child(n+2){
    top: 17px;
}
.form-control{
    border: none;
    overflow: auto;
    border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
}
.form-control:focus {   
  box-shadow:none;
  outline: 0 none;
}
.form-control ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #43A5AD; transition: 0.4s;}
.form-control:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
.btn-gr{
    position: relative;
    top: 20px;
}
.btn-gr .btn{
    margin-left: 1%;
    box-shadow: 0px 0px 5px #3F3D3D;
    border: 0px solid transparent;
}
.post{
    margin-top: 30px;
    padding-bottom: 20px;
}
.act{
    border-left: 1px solid #CECDCD;
    padding-left: 1%;
    margin: 0px;
    padding-bottom: 0px;
    height: 70px;
    position: relative;
    top:10px;
}
div.act p{
    margin: 0px;
}
.circle{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -1.75%;
    top: 3px;
    border: 2px solid ;
}
.bordercolorblue{
    border-color: #4D52BA;
}
.bordercoloryellow{
    border-color: #F4FF1E;
}
.bordercolorred{
    border-color: #FF3939;
}
.ppinp{
    display: flex;
    position: relative;
    justify-content: space-between;
}
#content .col-lg-4 img{
    margin-top: 20px;
}
#menu2 .ppinp:last-of-type{
    top: 10px
}
#menu2{
    height: 610px;
    padding-right: 2%;
}
#menu2 button.btn-success{
    position: relative;
    top: 10px;
}
#menu2 div.col-lg-12{
    padding:10px 0px 0px 0px;
}
#menu2 h3 {
    position: relative;
    top:40px;
    font-size: 15px;
    font-weight: bold;
}
#menu2 div.col-lg-5 {
    position: relative;
    top:40px;
    padding: 0px;
    z-index: 9;
}
#menu2 div#adress{
    position: relative;
    top:50px;
    padding-bottom: 10px;
}
#menu2 div.col-lg-3{
    top: 50px;
    padding: 0px;
}
#menu2 h5{
    position: relative;
    top: 70px;
    font-size: 13px;
    font-weight: bold;
    color: #4B4B4B;
}
#menu2 button#lastbutton{
    position: relative;
    top: 90px;
}
#home div:first-of-type h6{
    font-size: 14px;
}
.borderbut{
    border-bottom: 1px solid #CDCDCD;
}
#home div h6{
    color:  #464646;
    padding-right: 0px;
}
#home div h3{
    font-weight: bold;
    font-size: 20px;
}
#home div ul:not(#ul-progress){
    padding-left: 2%;
}
#ul-progress{
    list-style-type: none;
    padding-left: 0px;
}
#ul-progress div.progress{
    height: 10px;
}
#set div.parent-inp:last-of-type{
    margin-top: 10px;
    margin-bottom: 30px;
}
div#menu-cir{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#56BFBC ,#A2DCDA);
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    color: antiquewhite;
    
}
div#menu-cir i.glyphicon-plus{
    transition: all .5s;
    transition-timing-function: linear;
}
div#menu-cir:hover .glyphicon-plus{
    transform: rotate(855deg);
}
div#menu-cir div.center-align:first-of-type div{
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2FA5;
    anima-origin: center;
    
}
div#menu-cir div.center-align.text-capitalize div{
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    anima-origin: center;
    background-color: #FF9E00;
}
div#menu-cir div.center-align:last-of-type div{
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    anima-origin: center;
    background-color: #870092;
    color: antiquewhite;
}
.center-align{
    display: none;
    align-items: center;
    justify-content: center;
    width:30px;
    height: 30px;
    z-index: 9999;
    position: absolute;
}
div#menu-cir div.center-align:first-of-type{
    top: -50px;
}
div#menu-cir div.center-align.text-capitalize{
    top: -90px;
}
div#menu-cir div.center-align:last-of-type{
    top: -130px;
}
div#menu-cir div.text-center{
    width: 30px;
    height: 130px;
    position: absolute;
    top: -120px;
    display: none;
}
div#hideAll{
    position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: #F3F3F3;
   z-index: 999999;
}
div#hideAll div.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #099D94;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #099D94 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#ul-down a{
    color: inherit!important;
    text-decoration:none!important;
}
#ul-down a:hover {
  color: inherit!important;
  text-decoration: none!important;
}
#ul-down a:link {
  color: inherit!important;
  text-decoration: none!important;
}